# For MTK DRM integration:
import /init.recovery.microtrust.rc
 
on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    mkdir /mnt/vendor/persist 0700 root root
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist

on post-fs
    setprop crypto.ready 1
    install_keyring

on fs
    write /proc/bootprof "init tee-supplicant"
   # set SELinux security contexts on upgrade or policy update
    restorecon_recursive /mnt/vendor/persist
    chmod 0660 /dev/tee0
    chmod 0660 /dev/teepriv0
    chown root keystore /dev/tee0
    chmod 0660 /dev/rpmb0
    chown root root/dev/rpmb0
    enable vendor.keymaster-4-0-mitee
    start tee-suplicant
    mkdir /mnt/vendor/persist/data 0755 root root
    setprop vendor.teefs_state ready
    setprop ro.hardware.gatekeeper mitee

on post-fs-data
    mkdir /data/vendor/mitee
    chmod 0755 /data/vendor/mitee
    chown root root /data/vendor/mitee
    mkdir /data/vendor/thh
    chmod 0755 /data/vendor/thh
    chown root root /data/vendor/thh
    write /proc/bootprof "init miteelog"
    start miteelog

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service variant-script /vendor/bin/variant-script.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service tee-supplicant /vendor/bin/tee-supplicant
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
service miteelog /vendor/bin/miteelog
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
service vendor.gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-beanpod /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-mitee /vendor/bin/hw/android.hardware.keymaster@4.0-service.mitee
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0
    
on property:vendor.sys.listeners.registered=true
    start vendor.keymaster-4-0-mitee

on property:vendor.sys.listeners.registered=true
    start vendor.keymaster-4-0-beanpod

on property:hwservicemanager.ready=true
    start vendor.keymaster-4-0-beanpod
    start vendor.keymaster-4-0-mitee
    start gatekeeper-1-0
    
on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop miteelog
    stop vendor.keymaster-4-0-beanpod
    stop vendor.keymaster-4-0-mitee
    stop vendor.gatekeeper-1-0
    stop tee-suplicant
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop miteelog
    stop tee-suplicant
    stop vendorkeymaster-4-0-beanpod
    stop vendor.keymaster-4-0-mitee
    stop vendor.gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop miteelog
    stop tee-suplicant
    stop vendor.keymaster-4-0-beanpod
    stop vendor.keymaster-4-0-mitee
    stop vendor.gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
    
on boot
    start boot-hal-1-1
    chmod 0777 /vendor/bin/variant-script.sh
    start variant-script
